---
import MainHead from '../components/MainHead.astro';
import Footer from '../components/Footer.astro';
import Nav from '../components/Nav.astro';
---

<html lang="en">
	<head>
		<MainHead title="About | Lukas Zainzinger" description="About Lukas Zainzinger" />
		<style>
			.heroImg {
				max-height: 24rem;
				object-fit: cover;
				overflow: hidden;
			}

			.heroImg img {
				width: 100%;
			}

			.bio {
				font-size: var(--f-u1);
				line-height: 2;
				margin-top: 4em;
			}

			.wrapper.bio {
				max-width: 50em;
			}
		</style>
	</head>
	<body>
		<Nav />
		<div class="wrapper">
			<h1>About Lukas</h1>
			<div class="heroImg">
				<img
					width="1400"
					height="350"
					src="/assets/about.jpg"
				/>
			</div>
			<div class="bio wrapper">
				<p>
					I’m Lukas, a highly skilled, reliable and adaptable DevOps engineer with 6 years of experience in IT infrastructure. Responsible for high availability and zero downtime deployments of an Austrian marketplace. Proven ability in managing the automation of deployments and infrastructure as code.
				</p>
				<h2> Work Experience </h2>
				<p>
					<ul>
						<li>from 2021: Shoepping.at - DevOps Engineer</li>
						<li>2017 - 2021: Raiffeisen Informatik - Application Engineer & DevOps Engineer</li>
					</ul>
				</p>
				<h2> Education </h2>
				<p>
					<ul>
						<li>2021 - 2024: Digital Business BA at FH Wien der WKW</li>
						<li>2018 - 2019: Computer Science & Digital Communication at FH Campus Wien (2 Semester)</li>
						<li>2011 - 2016: Information Technology at TGM</li>
					</ul>
				</p>
				<h2> Skills & Technologies </h2>
				<p>
					<ul>
						<li>Kubernetes</li>
						<li>Jenkins</li>
						<li>Terraform</li>
						<li>Azure</li>
						<li>Linux OS</li>
						<li>Java</li>
						<li>Python</li>
						<li>TypeScript</li>
						<li>HTML/CSS/JavaScript</li>
						<li>Ionic</li>
						<li>Figma</li>
					</ul>
				</p>
			</div>
		</div>
		<Footer />
	</body>
</html>
