---
const currentYear = new Date().getFullYear();
---

<footer>
	&copy; {currentYear} Lukas Zainzinger
	<small class="byline"><a href="https://www.iubenda.com/privacy-policy/92122725" class="iubenda-white iubenda-noiframe iubenda-embed iubenda-noiframe " title="Datenschutzerklärung ">Datenschutzerklärung</a><script type="text/javascript">(function (w,d) {var loader = function () {var s = d.createElement("script"), tag = d.getElementsByTagName("script")[0]; s.src="https://cdn.iubenda.com/iubenda.js"; tag.parentNode.insertBefore(s,tag);}; if(w.addEventListener){w.addEventListener("load", loader, false);}else if(w.attachEvent){w.attachEvent("onload", loader);}else{w.onload = loader;}})(window, document);</script></small>
</footer>
<style>
	footer {
		text-align: center;
		padding-top: 8rem;
		padding-right: 2rem;
		padding-bottom: 4rem;
		padding-left: 2rem;
	}

	.byline {
		display: block;
		margin-top: 1rem;
		color: var(--t-subdue);
		font-size: var(--f-d2);
		text-transform: uppercase;
	}
</style>
